---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$baseurl: "{{ site.baseurl }}";

body {
  background-image: url('{{ site.baseurl }}/assets/images/coffee-good-today.jpeg');
  background-size: 143px 169px;
  background-repeat: no-repeat;
  background-position: right 5% top 25%;
  opacity: 1;
}
